.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 21%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item h3 {
  margin-bottom: 10px;
  
}

.product-item img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container a,
.button-container button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.button-container a {
    background-color: #007bff;
}